<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta name="robots" content="index, follow">
    <title>Shirley Tyteca</title>
    <link rel="preload" href="/static/img/fonts/BoucherieCursive/BoucherieCursiveRegular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/img/fonts/DMSans/dm-sans-v14-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/img/fonts/DMSans/dm-sans-v14-latin-500.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/img/fonts/DMSans/dm-sans-v14-latin-600.woff2" as="font" type="font/woff2" crossorigin>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="static/img/logo.ico">
    <meta name="description" content="Shirley Tyteca uit Koksijde biedt Pralaya-yoga lessen en studiehulp aan, inclusief op maat gemaakte studiemethoden voor kinderen vanaf het 5e en 6e leerjaar, secundair en hoger onderwijs en universiteit. Dit kan indien gewenst gecombineerd worden met yogatechnieken en coaching. Kinderyoga is beschikbaar vanaf 4 jaar!">
    <meta name="keywords" content="Shirley Tyteca, Koksijde, Pralaya-yoga, Yoga, Yogales, Yogalessen, Studiehulp, Studie, Studiebegeleiding, Studiemethode op maat, Lager onderwijs, 5e leerjaar, 6e leerjaar, Secundair onderwijs, Hoger onderwijs, Universiteit, Yogatechnieken, Coaching, Kinderyoga, Yoga voor kinderen, Persoonlijke coaching, coach, Onderwijsbegeleiding, Yoga en studie">
    <meta name="author" content="Shirley Tyteca">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" defer></script>
    <script src="/static/img/script.js" defer></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-L3RTBCZGGD"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-L3RTBCZGGD');
    </script>
  </head>
  <body>
    {% include "./partials/navbar.html" %}

    {{ content | safe }}

    {% include "./partials/footer.html" %}
  </body>
</html>
