<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Shirley Tyteca</title>
      
      <link rel="preload" href="/fonts/BoucherieCursiveRegular.woff2" as="font" type="font/woff2" crossorigin>
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <link rel="icon" type="image/png" href="images/logo.png">
      <meta name="description" content="Shirley Tyteca uit Koksijde biedt Pralaya-yoga lessen en studiehulp aan, inclusief op maat gemaakte studiemethoden voor kinderen vanaf het 5e en 6e leerjaar, secundair en hoger onderwijs en universiteit. Dit kan indien gewenst gecombineerd worden met yogatechnieken en coaching. Kinderyoga is beschikbaar vanaf 4 jaar!">
      <meta name="keywords" content="Shirley Tyteca, Koksijde, Pralaya-yoga, Yoga, Yogales, Yogalessen, Studiehulp, Studie, Studiebegeleiding, Studiemethode op maat, Lager onderwijs, 5e leerjaar, 6e leerjaar, Secundair onderwijs, Hoger onderwijs, Universiteit, Yogatechnieken, Coaching, Kinderyoga, Yoga voor kinderen, Persoonlijke coaching, coach, Onderwijsbegeleiding, Yoga en studie">
      <meta name="author" content="Shirley Tyteca">
      <script src="js.js"></script>
      <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
      <link rel="stylesheet" href="style.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
      <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet"/>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap" rel="stylesheet">
  </head>
  <body>
    {% include "./partials/navbar.html" %}

    {{ content | safe }}

    {% include "./partials/footer.html" %}
    <script src="js.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
      (function($) { // Begin jQuery
          $(function() { // DOM ready
            // If a link has a dropdown, add sub menu toggle.
            $('nav ul li a:not(:only-child)').click(function(e) {
              $(this).siblings('.nav-dropdown').toggle();
              // Close one dropdown when selecting another
              $('.nav-dropdown').not($(this).siblings()).hide();
              e.stopPropagation();
            });
            // Clicking away from dropdown will remove the dropdown class
            $('html').click(function() {
              $('.nav-dropdown').hide();
            });
            // Toggle open and close nav styles on click
            $('#nav-toggle').click(function() {
              $('nav ul').slideToggle();
            });
            // Hamburger to X toggle
            $('#nav-toggle').on('click', function() {
              this.classList.toggle('active');
            });
          }); // end DOM ready
        })(jQuery); // end jQuery
    </script>
  </body>
</html>
