@font-face {
  font-family: "remixicon";
  src: url('remixicon.eot?t=1705244689813'); /* IE9*/
  src: url('remixicon.eot?t=1705244689813#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("remixicon.woff2?t=1705244689813") format("woff2"),
  url("remixicon.woff?t=1705244689813") format("woff"),
  url('remixicon.ttf?t=1705244689813') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('remixicon.svg?t=1705244689813#remixicon') format('svg'); /* iOS 4.1- */
  font-display: swap;
}

[class^="ri-"], [class*=" ri-"] {
  font-family: 'remixicon' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ri-facebook-circle-fill:before { content: "\ecba"; }
.ri-login-circle-fill:before { content: "\eed5"; }
.ri-instagram-fill:before { content: "\ee65"; }
