@font-face {
  font-family: 'Boucherie Cursive';
  src: url('/static/img/fonts/BoucherieCursive/BoucherieCursiveRegular.woff2') format('woff2'),
      url('/static/img/fonts/BoucherieCursive/BoucherieCursiveRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/static/img/fonts/DMSans/dm-sans-v14-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('/static/img/fonts/DMSans/dm-sans-v14-latin-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
}
@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  src: url('/static/img/fonts/DMSans/dm-sans-v14-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('/static/img/fonts/DMSans/dm-sans-v14-latin-500.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
}
@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/static/img/fonts/DMSans/dm-sans-v14-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('/static/img/fonts/DMSans/dm-sans-v14-latin-600.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
}

html {
  scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  scroll-behavior: smooth
}

body {
  background-color: #ffffff;
  margin: 0px;
  font-family: 'DM Sans', sans-serif;
}

h3{
  font-size: 5em;
  margin: 25px;
  line-height: 1em;
}

/* Nav */

  .navigation{
    z-index: 900;
    position: fixed;
    width: 100vw;
  }

  nav {
    float: right;
    font-size: 20px;
    font-weight: 500;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #1a535c;
    align-items: center;
  }
  nav ul li {
    float: left;
    position: relative;
  }
  nav ul li a {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    background: #1A535C;
    color: #ffffff;
    text-decoration: none;
    /*
    The full path of this code is nav ul li a:not(:only-child):after. This means that the code will apply to any a tag in our nav list that is NOT an only child, aka any dropdown. The :after means it comes after the output of the tag. I’ve decided that to specify any nav item as a dropdown, it will be followed by a unicode arrow – ▾ (#9662).
    */
  }

  nav ul li a:not(:only-child):after {
    padding-left: 4px;
    content: ' ▾';
  }
  nav ul li ul li {
    min-width: 190px;
  }
  nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
  }

  .nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #1A535C;
    height: 70px;
    width: 70px;
  }

.close{
  background-color: white;
  font-size: 40px;
  bottom: 11px;
  position: absolute;
  right: 20px;
}

  @media only screen and (max-width: 900px) {
    .nav-mobile {
      display: block;
    }

    nav ul li a:hover {
      background: #103338;
      color: #ffffff;
      transition-duration: 1s;
    }

    nav {
      width: 100%;
      padding: 70px 0 15px;
    }

    .navigation{
      top: 0px;
    }
    nav ul {
      display: none;
    }
    nav ul li {
      float: none;
    }
    nav ul li a {
      padding: 15px;
      line-height: 20px;
    }
    nav ul li ul li a {
      padding-left: 30px;
    }
    .li-link-top{
      padding-top: 20px;
    }

    .postscontainer{
      display: flex;
      align-items: center;
      text-align: center;
      flex-direction: column;
    }

    .postcontcont{
      box-shadow: 0px 0px 20px #0000006b;
      height: auto !important;
    }

    .posturl{
      background-color: #b5d1ff;
      padding-left: 20px !important;
      padding-right: 20px !important;
      margin-bottom: 20px !important;
      border-radius: 5px !important;
    }

    h3{
      font-size: 3em;
    }

    .logohero{
      max-width: 80vw !important;
      max-height: 40vh;
      padding-bottom: 20px;
    }
    .hero{
      flex-direction: column-reverse;
    }

    .cards{
      display: flex; padding: 5vw; min-height: 300px; flex-direction: column;
    }
    .studie{
      background: url(/static/img/studiehulp.webp), linear-gradient(#1a535c7b,#1a535c7b); background-blend-mode: overlay; background-position: center; background-repeat: no-repeat; background-size: cover; width: 90vw; display: flex;
    }
    .studieinfo{
      padding: 40px 0px;
      width: 90vw; text-align: center; display: flex; justify-content: center; align-items: center;
    }
    .infotitle1{
      color: #ffffff; font-size: 30px; margin-top: 0px;  margin-bottom: 20px;
    }
    .button1{
      border-radius: 10px; background-color: #ffffff; display: flex;
    }
    .buttontext1{
      color: #1A535C; margin: 8px 40px;
    }
    .studieimage{
      display: none;
    }
    .yogainfo{
      padding: 40px 0px;
      width: 90vw; text-align: center; display: flex; justify-content: center; align-items: center;
    }
    .footer1{
      display: none !important;
    }
    form{
      align-items: center;
      text-align: center;
    }
    .formcont{
      text-align: center;
    }
    .icon{
      height: 20px !important;
    }
  }
  #nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
  }
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 30px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  #nav-toggle span:before {
    top: -10px;
  }
  #nav-toggle span:after {
    top: 10px;
  }
  #nav-toggle.active span {
    background-color: transparent;
  }
  #nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
  }
  #nav-toggle.active span:before {
    transform: rotate(45deg);
  }
  #nav-toggle.active span:after {
    transform: rotate(-45deg);
  }

  @media screen and (min-width: 900px) {
    .nav-list {
      display: flex !important;
    }

    .herotext{
      text-align:left;
      margin-left:0;
      padding-left:50px;
      flex: 60%;
    }

    .logohero{
      flex: 40%;
    }

    nav ul li a {
      display: flex !important;
    }

    .nav-link::before {
      transition: 300ms;
      height: 2px;
      content: "";
      position: absolute;
      background-color: #ffffff;
      width: 0%;
      bottom: 17px;
    }
    
    .nav-link:hover::before {
      width: calc(100% - 40px);
    }

    .posttext{
      position: absolute; float: left;
    }
    .postimg{
      margin-right: 20px;
    }

    .postcontcont{
      padding-bottom: 10px;
      z-index: 800;
    }
    .posturl{
      float: right;
      margin-right: 10px !important;
    }

    .icon:hover{
      height: 32px !important;
      transition-duration: 200ms;
    }
    .icon{
      transition-duration: 200ms;
    }

    .cards{
      display: flex; padding: 5vw; min-height: 300px; flex-direction: row;
    }
    .studie{
      width: 45vw; display: flex;
    }
    .studieinfo{
      background: #bacbce; width: 18vw; text-align: center; display: flex; justify-content: center; align-items: center;
    }
    .infotitle1{
      color: #1a535c; font-size: 30px; margin-top: 0px; margin-bottom: 20px;
    }
    .button1{
      border-radius: 10px; background-color: #1a535c; display: flex;
    }
    .buttontext1{
      color: #ffffff; margin: 8px 40px;
    }
    .studieimage{
      width: 27vw; background-image: url(/static/img/studiehulp.webp); background-position: center; background-repeat: no-repeat; background-size: cover;
    }
    .yogainfo{
      width: 45vw; text-align: center; display: flex; justify-content: center; align-items: center;
    }
    .namef{
      margin-right: 12px;
    }
    .mailf{
      margin-left: 12px;
    }
    .namemail{
      display: flex;
      flex-direction: row
    }
  }
  /* 
  .navigation – the outer wrapper for the navbar. Specifies the height and color, and will stretch the full width of the viewport.
  */
  .navigation {
    height: 70px;
    background: #1A535C;
  }

  /*
  .nav-container – the inner wrapper for the navbar. Defines how far the actual content should stretch.
  */
  .nav-container {
    max-width: 1000px;
    margin: 0 auto;
  }

  .brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 1.8em;
    font-family: 'Caveat', cursive;
    font-weight: 800;
    z-index: 999;
  }
  .brand a,
  .brand a:visited {
    color: #ffffff;
    text-decoration: none;
  }

.hero{
  padding-top: 145px;
  height: auto;
  background-color: #ffffff;
  text-align: center;
  color: #21282c;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
}

.footer-link{
  margin: 0px 10px;
  color: white;
}

.infotitle2{
  color: #ffffff; font-size: 30px; margin-top: 0px;  margin-bottom: 20px;
}
.button2{
  border-radius: 10px; background-color: #ffffff; display: flex;
}
.buttontext2{
  color: #1a535c; margin: 8px 40px;
}
.yoga{
  background: url(/static/img/yoga.webp), linear-gradient(#1a535c7b,#1a535c7b); background-blend-mode: overlay; background-position: center; background-repeat: no-repeat; background-size: cover; width: 90vw; display: flex;
}
textarea {
  resize: none;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  border: none;
  padding: 8px;
  font-family: inherit;
  font-size: 18;
}

textarea:focus{
  outline: none !important;
  border:2px solid #1A535C;
}
label{
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
form{
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}
#contact{
  justify-content: center;
  display: flex;
  align-items: center;background-image: url(/static/img/contact.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  max-width:100%;
}

button{
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

button:focus{
  border:2px solid #ffffff;
}

.button3{
  border-radius: 10px; background-color: #1a535c; display: flex;
}

.buttontext3{
  color: #ffffff; margin: 8px 40px;
}

input{
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  border: none;
  height: 30px;
  padding-left: 8px;
  font-family: inherit;
  font-size: 18;
}

input:focus {
  outline: none !important;
  border:2px solid #1A535C;
}






