@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

h1 {
  @apply text-4xl tracking-tighter mb-3 text-center lg:text-7xl;
}

h3 {
  @apply text-2xl font-bold mb-3;
}
@media (min-width: 1024px) {
  .lg\:px-0 {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
  .lg\:h-screen {
    height: auto !important;
  }
}

.logo{
  max-height: 40px;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}

.sticky {
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  left: 0 !important;
  right: 0 !important;
}

h1{
  font-family: 'Caveat', cursive !important;
}
