  <footer style="background-color: #1a535c; color: white; align-items: center; display: flex; flex-direction: column; padding: 30px;">
    <img style="opacity: 0.7;max-height: 70px;" src="images/text.svg" alt="">
    <ul class="footer1" style="display: flex; list-style: none; padding: 0px;">
      <li><a class="footer-link" href="#!">Thuis</a></li>
      <li><a class="footer-link" href="#!">Studiehulp</a></li>
      <li><a class="footer-link" href="#!">Yoga</a></li>
      <li><a class="footer-link" href="#!">Shirley</a></li>
      <li><a class="footer-link" href="#!">Contact</a></li>
    </ul>
    <div style="display: flex; list-style: none;">
      <li><a style="color: white; font-size: 30px; padding-right: 8px;" href="https://www.facebook.com/shirley.tyteca/"><i class="ri-facebook-circle-fill"></i></a></li>
      <li><a style="color: white; font-size: 30px; padding-left: 8px;" href="https://www.instagram.com/shirley.tyteca"><i class="ri-instagram-fill"></i></i></a></li>
    </div>
    <span style="margin-top: 16px; text-align: center;">© Gemaakt door <a style="color: white; text-decoration: none;" href="https://pclover2.github.io/">Sander De Langhe</a> in 2024</span>
  </footer>
