<footer style="background-color: #1a535c; color: white; align-items: center; display: flex; flex-direction: column; padding: 30px;">
  <img style="opacity: 0.7; height: 70px; width: auto;" src="/static/img/text.svg" alt="">
  <ul class="footer1" style="display: flex; list-style: none; padding: 0px;">
    <li><a class="footer-link" href="/yoga">Yoga</a></li>
    <li><a class="footer-link" href="/shirley">Over mij</a></li>
    <li><a class="footer-link" href="#contact">Contact</a></li>
  </ul>
  <ul style="display: flex; list-style: none; padding: 0px;">
    <li><a style="padding-right: 8px;" href="https://www.facebook.com/shirley.tyteca/"><img style="height: 30px;" src="/static/img/icons/facebook-circle-fill.svg" alt=""></a></li>
    <li><a style="color: white; font-size: 30px; padding-left: 8px;" href="https://www.instagram.com/shirley.tyteca"><img style="height: 30px;" src="/static/img/icons/instagram-fill.svg" alt=""></a></li>
  </ul>
  <span style="margin-top: 16px; text-align: center;">© Gemaakt door <a style="color: white; text-decoration: none;" href="https://pclover2.github.io/">Sander De Langhe</a> in 2024</span>
</footer>
