<section class="navigation">
  <div class="nav-container">
    <div style="padding-left: 25px;" class="brand">
      <a href="/"><img style="height: 79px; width: auto; padding-top: 15px;" src="/static/img/text.svg" alt=""></a>
    </div>
    <nav>
      <div class="nav-mobile">
        <a id="nav-toggle" href="#!"><span style="height: 2px;"></span></a>
      </div>
      <ul class="nav-list" style="text-align: center;">
        <!-- Setting the links to #! will ensure that no action takes place on click. -->
        <li class="li-link-top"><a class="nav-link" href="/studiehulp">Studiehulp</a></li>
        <li><a class="nav-link" href="/yoga">Yoga</a></li>
        <li><a class="nav-link" href="/shirley">Shirley</a></li>
        <li><a class="nav-link" href="#contact">Contact</a></li>
        <li><a href="https://www.facebook.com/shirley.tyteca/"><img class="icon" style="height: 30px;" src="/static/img/icons/facebook-circle-fill.svg" alt=""></a></li>
        <li><a href="https://www.instagram.com/shirley.tyteca"><img class="icon" style="height: 30px;" src="/static/img/icons/instagram-fill.svg" alt=""></a></li>
        <li><a href="/admin"><img class="icon" style="height: 30px;" src="/static/img/icons/login-circle-fill.svg" alt=""></a></li>
      </ul>
    </nav>
  </div>
</section>
