<section class="navigation">
    <div class="nav-container">
      <div style="padding-left: 25px;" class="brand">
        <a href="/"><img style="height: 79px; padding-top: 15px;" src="images/text.svg" alt=""></a>
      </div>
      <nav>
        <div class="nav-mobile">
          <a id="nav-toggle" href="#!"><span style="height: 2px;"></span></a>
        </div>
        <ul class="nav-list" style="text-align: center;">
          <!-- Setting the links to #! will ensure that no action takes place on click. -->
          <li  class="li-link-top"><a class="nav-link" href="/studiehulp">Studiehulp</a></li>
          <li><a class="nav-link" href="/yoga">Yoga</a></li>
          <li><a class="nav-link" href="/shirley">Shirley</a></li>
          <li><a class="nav-link" href="#contact">Contact</a></li>
          <li><a class="icon" style="font-size: 30px;" href="https://www.facebook.com/shirley.tyteca/"><i class="ri-facebook-circle-fill"></i></a></li>
          <li><a class="icon" style="font-size: 30px;" href="https://www.instagram.com/shirley.tyteca"><i class="ri-instagram-fill"></i></i></a></li>
          <li><a class="icon" style="font-size: 30px;" href="/admin"><i class="ri-login-circle-fill"></i></a></li>
        </ul>
      </nav>
    </div>
  </section>
