<section class="navigation">
  <div class="nav-container">
    <div style="padding-left: 25px;" class="brand">
      <a href="/"><img style="height: 79px; width: auto; padding-top: 15px;" src="/static/img/text.svg" alt=""></a>
    </div>
    <nav>
      <div class="nav-mobile">
        <a id="nav-toggle" href="#!"><span style="height: 2px;"></span></a>
      </div>
      <ul class="nav-list" style="text-align: center;">
        <!-- Setting the links to #! will ensure that no action takes place on click. -->
        <li class="li-link-top"><a class="nav-link" href="/studiehulp">Studiehulp</a></li>
        <li><a class="nav-link" href="/yoga">Yoga</a></li>
        <li><a class="nav-link" href="/shirley">Shirley</a></li>
        <li><a class="nav-link" href="#contact">Contact</a></li>
        <li><a href="https://www.facebook.com/shirley.tyteca/"><img class="icon" style="height: 30px;" src="/static/img/icons/facebook-circle-fill.svg" alt=""></a></li>
        <li><a href="https://www.instagram.com/shirley.tyteca"><img class="icon" style="height: 30px;" src="/static/img/icons/instagram-fill.svg" alt=""></a></li>
        <li><a href="/admin"><img class="icon" style="height: 30px;" src="/static/img/icons/login-circle-fill.svg" alt=""></a></li>
      </ul>
    </nav>
  </div>
</section>
{% set postslist = collections.post %}
{% for post in postslist | reverse %}
    <div class="postcontcont" style="max-width:100%; width: 100vw; background-color: white; height: 50px; position: fixed; top: 70px; padding-top: 10px;">
        <div class="nav-container postscontainer">
            <div class="posttext" style=" line-height: 50px;">
                <p style="margin: 0px 25px;">
                    {% if post.data.title %}
                        {{ post.data.title }}
                    {% else %}
                        Untitled
                    {% endif %}
                </p>
            </div>
            <div class="posturl">
                <a href="{{ post.data.facebookurl }}" style="display: flex;"><p style="margin-right: 25px; color: black; text-decoration: underline;">Zie Facebook </p><img class="postimg" style="margin-right: 0px; margin-top: 10px; height: 30px;" src="/static/img/icons/facebook-circle-fill-black.svg" alt=""></a></a>
            </div>
        </div>
    </div>
{% endfor %}
